<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<title>{{title}}</title>
</head>
<body>
	<div class="container">
		{% if login==True %}
		<form action="/login" method="POST">
		    <div class="form-group">
		        <input name="name" autofocus class="form-control" placeholder="Username" type="text"/ required="True">
		    </div>
		    <div class="form-group">
		        <input name="password" class="form-control" placeholder="Password" type="password"/ required="True">
		    </div>
		    <button class="btn btn-primary" type="submit">Log In</button>
		</form>
		{% elif register==True %}
			<form action="/register" method="POST">
		        <div class="form-group">
		            <input name="name" autofocus required="True" class="form-control" placeholder="Username" type="text"/>
		        </div>
		        <div class="form-group">
		            <input name="email" autofocus class="form-control" placeholder="example@gmail.com" type="text"/>
		        </div>
		        <div class="form-group">
		            <input name="mobile_no" autofocus class="form-control" placeholder="+91 0123456789" type="text"/>
		        </div>
		        <div class="form-group form-check">
		        	<input type="checkbox" class="form-check-input" name="isStudent" id='isStudent' value="True" />
		        	<label class="form-check-label" for="isStudent">Is Student??</label>
		        </div>
		        <div class="form-group">
		            <input name="password" class="form-control" placeholder="Password" type="password"/ required="True">
		        </div>
		        <div class="form-group">
		            <input name="confirm" class="form-control" placeholder="Confirm Password" type="password"/ required="True">
		        </div>
		        <button class="btn btn-primary" type="submit">Register</button>
		    </form>
		{% endif %}
	</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>